
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*{
    box-sizing: border-box;
}

body {
    background-color: springgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0;
    min-height: 100vh;
}